.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.active {
  color: gray !important;
}

h1 {
  color: green;
}
